
@inject IReadFromBrowser reader
@inject IRepositoryUser userRepository
@inject WebStoreProject.Services.ICheckTime message
@inject ICounterCart counter



<html>
<head>
    <link href="~/vendor-styles/vendor.css" rel="stylesheet" />
    <script src="~/vendor-script/vendorvalid.js"></script>
    <script src="~/Scripts/deletePoster.js"></script>
    <script src="~/Scripts/changenav.js"></script>
    <script src="~/Scripts/forgotPassword.js"></script>
    <link href="~/vendor-styles/Layout.css" rel="stylesheet" />
    <script src="~/Scripts/search.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body onload="openCity()">
    @if (reader.ReadCookie("User") != null)
    {

    <ul class="nav nav-tabs">
        <a class="navbar-brand" asp-controller="home" asp-action="index">
            <img src="~/Images/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">

        </a>
        <li class="nav-item">
            <a id="home" class="nav-link active" asp-controller="home" asp-action="index">
                Home
                <img src="~/Images/home.png" width="25" height="25" class="d-inline-block align-top" alt="">


            </a>
        </li>

        <li class="nav-item">
            <a id="about" class="nav-link" asp-controller="home" asp-action="about">
                About
                <img src="~/Images/about.png" width="25" height="25" class="d-inline-block align-top" alt="">
            </a>
        </li>
        <li class="nav-item">
            <a id="login" class="nav-link" asp-action="Logout" asp-controller="Login">
                Logout
                <img src="~/Images/logout.png" width="25" height="25" class="d-inline-block align-top" alt="">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="cart" asp-action="index" asp-controller="ShoppingCart">
                <img src="~/Images/cart.png" width="50" height="30" class="d-inline-block align-top" alt="">
                <span>(@counter.GetNumOfProduct())</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Managment</a>
            <div class="dropdown-menu">
                <a id="addposter" class="nav-link" asp-action="index" asp-controller="Product">Add Poster</a>
                <div class="dropdown-divider"></div>
                <a id="register" class="dropdown-item" asp-action="index" asp-controller="Register">Update User</a>
                <a id="myProducts" class="dropdown-item" asp-controller="Product" asp-action="MyProducts">My Products</a>

                @if (userRepository.IsUserAdmin(reader.ReadCookie("User")))
                {
                    <div class="dropdown-divider"></div>
                    <a id="admin" class="dropdown-item" asp-action="index" asp-controller="Admin">Edit Users (Admin Only)</a>


                }


            </div>
                </li>





                <li class="nav-item">
                    <div style="font-size:20px;margin-top:0.2cm;">
                        <span> @message.GetMessage(),</span>
                        <span style="color:green"> @userRepository.GetUserName(reader.ReadCookie("User"))</span>
                    </div>
                </li>

            </ul>

    }
    else
    {
    <ul class="nav nav-tabs">
        <a class="navbar-brand" asp-controller="home" asp-action="index">
            <img src="~/Images/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">

        </a>
        
        <li class="nav-item">
            <a id="home" class="nav-link active" asp-controller="home" asp-action="index">
                Home
                <img src="~/Images/home.png" width="25" height="25" class="d-inline-block align-top" alt="">


            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="about" asp-controller="home" asp-action="about">
                About
                <img src="~/Images/about.png" width="25" height="25" class="d-inline-block align-top" alt="">
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" id="login" asp-action="index" asp-controller="Login">
                Login

                <img src="~/Images/output-onlinepngtools.png" width="30" height="30" class="d-inline-block align-top" alt="">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="register" asp-action="index" asp-controller="Register">
                Register
                <img src="~/Images/register.png" width="25" height="25" class="d-inline-block align-top" alt="">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="cart" asp-action="index" asp-controller="ShoppingCart">
                <img src="~/Images/cart.png" width="50" height="30" class="d-inline-block align-top" alt="">
                <span>(@counter.GetNumOfProduct())</span>
            </a>
        </li>
        <li class="nav-item">
            <div style="font-size:20px;margin-top:0.2cm;">
                <span> @message.GetMessage(),</span>
                <span style="color:green"> @userRepository.GetUserName(reader.ReadCookie("User"))</span>
            </div>
        </li>
    </ul>

    }

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                @RenderBody()
            </div>


            <div class="col-md-2">
                <div>
                    <h2>

                        <img src="~/Ads/adsHead.gif" />
                    </h2>
                    <h2>
                        <img src="~/Ads/ads3.gif" />
                    </h2>
                    <h2>
                        <img src="~/Ads/ads4.gif" />
                    </h2>
                    <h2>
                        <img src="~/Ads/ads5.gif" />
                    </h2>
                    <h2>
                        <img src="~/Ads/ads6.gif" />
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Create By : Yahav Hadad</p>
        <p>Contact information: yahav.hadad33@gmail.com</p>
    </footer>

</body>
</html>

