@model Login
<br />
<h4> Insert the details that you sign in with </h4>
<form asp-action="ForgotPassword" method="post" style="margin-top:0.5cm;">
    <div>
        <label asp-for="@Model.Username"></label>
        <input asp-for="@Model.Username" />
    </div>
    <div>
        <label asp-for="@Model.BirthDate"></label>
        <input type="date" asp-for="@Model.BirthDate" />
    </div>
    <div>
        <label asp-for="@Model.Email"></label>
        <input asp-for="@Model.Email" />
    </div>
    <input type="submit" value="Send" />
    <div asp-validation-summary="All"></div>
</form>

<h5>
    an Email will be send to your phone with your origin password, 
</h5>
<h5>
   we recommend to change the password soon as possible! 
</h5>

