@model Product
@inject WebStoreProject.Services.IReadPhoto reader
@inject IReadFromBrowser readerr
@inject IRepositoryUser userRepository
<html>
<head>
    
</head>
<body>
    <div class="card" style="width: 18rem;display: inline-block;">
        @if (Model.ImageOne == null)
        {
            <img src="~/No_image_available.png" class="card-img-top" style="height: 18rem;" />
        }
        else
        {
            <img src="@reader.ByteToImage(Model.ImageOne)" alt="Eroor" class="card-img-top" style="height: 18rem;" />
        }
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text"> @Model.ShortDescription</p>
                <p class="card-text"><span>@Model.Price$</span> | <span>@Model.Date.ToShortDateString()</span> </p>
                <a asp-route-prodid="@Model.ProductId" asp-controller="Product" asp-action="Details" class="btn btn-primary">More Details</a>
                <a asp-route-productID="@Model.ProductId" asp-controller="ShoppingCart" asp-action="AddToCart" class="btn btn-primary">Add to Cart</a>
                <br />
                <p>
                    @if (userRepository.IsUserAdmin(readerr.ReadCookie("User")))
                    {
                        <a asp-controller="Product" asp-action="Delete" class="del"></a>
                        <input id="delete" onclick="myDelete(e)" type="button" value="Delete" class="btn btn-danger" data-id="@Model.ProductId" />
                    }
                </p>
                <a asp-controller="Home" asp-action="Index" class="delete-link"></a>
            </div>
    </div>
</body>
</html>
